<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Books Information</h1>
       {% for book in book_list  %}
       <ul>
        <li>Book Name : {{ book.title }}    </li>
        <li>Book Author  : {{ book.author }} </li>
        <li>Book Pages   : {{ book.pages }} </li>
        <li>Book Prices  :{{ book.price }}  </li>
       </ul>
        {% endfor %}
    
</body>
</html>